.h2 {
  text-align: center;
}
.container {
  text-align: center;
  background-color: black;
}

.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  padding-bottom: 70px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background-color: #d7e5f7;
}